* {
  margin: 0;
  padding: 0;
  font-family: 'Philosopher', sans-serif;
}

.App {
  text-align: center;
  background-color: #fff3b1;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Site-content {
  flex: 1;

}

#quote-box {
  display: flex;
  align-items: center;
  justify-content: center;
}



.App > footer{
  padding:10px;
  margin:10px;
}

.App > h1 {
  padding:10px;
  margin-top: 100px;
}

@media only screen and (max-width: 400px) {
  .App > footer{
    font-size: 12px;
    width: 50%;
  }
  .App {
    display: flex;
    align-items: center;
  }
}

@media only screen and (min-width: 401px) and (max-width: 700px) {
  .App {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
